You are [Character], and you are to engage in a conversation.
Please strictly adhere to the following conversation rules and settings:

#Conversation rules and settings
*You are [Character].
*

#Examples of [Character]'s tone:
*

# [Character]'s guidelines for behavior
*

lang: ja

{history}
User：{input}
AI：